@import '~src/variables.less';

:host {
  input {
    font-family: @tsw-font;
    font-size: @tsw-input-font-size;
    width: 350px;
    height: 25px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 15px 0 15px 0;
    outline: 1px solid @tsw-beige;
    transition: outline-color 120ms;
  }

  input:focus {
    outline: 1px solid @tsw-black;
  }

  .typing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: pre-wrap;
    background-color: @tsw-green; // LIGHT
    //background-color: @tsw-dark-green; // DARK
    box-shadow: 0 0 12px @tsw-dark-green;
    border-radius: 5px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
  }

  .text-input {
    font-family: @tsw-font-mono;
    font-size: @tsw-font-size;
    line-height: 30px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    transition: color 120ms, background-color 120ms, box-shadow 120ms;
  }

  .text-input:focus {
    outline: none;
  }

  .text-input:not(:focus) {
    color: rgba(@tsw-black, 0.2);
    background-color: rgba(@tsw-black, 0.05);
    box-shadow: 0 0 3px rgba(@tsw-black, 0.3) inset;
  }

  .text-input:not(:focus):hover {
    cursor: pointer;
  }

  .correct {
    color: #83DF8C;
  }

  .incorrect {
    background-color: rgba(lightcoral, 0.15);
    color: lightcoral;
  }

  .current {
    color: @tsw-black;
    border-bottom: 1.5px solid @tsw-black;
  }
}
