<div class="typing-container">
  <div class="flex items-center gap-10">
    <svg fill="none" height="30" viewBox="0 0 192 192" width="30" xmlns="http://www.w3.org/2000/svg">
      <circle cx="116" cy="76" r="54" stroke="#1B1F1C" stroke-width="12"/>
      <path
        d="M86.5 121.5 41 167c-4.418 4.418-11.582 4.418-16 0v0c-4.418-4.418-4.418-11.582 0-16l44.5-44.5M92 62l12 32 12-32 12 32 12-32"
        stroke="#1B1F1C" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"/>
    </svg>
    <h2>{{ typingData.title }}</h2>
  </div>
  <input #inputRef (keydown.enter)="updateText()" [(ngModel)]="keyword" class="tsw-input"
         placeholder="Search for wikipedia extract..."
         type=text>
  <app-loading *ngIf="isLoading"></app-loading>
  <div #textInputRef (keydown)="keyPressed($event)"
       [class.none]="!session.keystrokes.length"
       [class.typing-in-progress]="!session.closed"
       class="text-input"
       tabindex="0">
    <ng-container *ngFor="let keystroke of session.keystrokes; index as i">
              <span [class]="{ 'correct': isInputCorrect(keystroke),
              'incorrect': isInputIncorrect(keystroke),
              'current': isCurrent(i),
              'disabled': keystroke.disabled }" class="character">{{ formattedKeystroke(keystroke) }}</span>
    </ng-container>
  </div>
  <app-typing-data [accuracy]="session.accuracy"
                   [seconds]="session.seconds"
                   [wpm]="session.wpm"></app-typing-data>
  <!--  <div class="flex items-center gap-10">-->
  <div *ngIf="!isAuthenticated() && session.closed" class="flex items-center gap-10">
    <button (click)="openAuthenticationDialog(true)" class="tsw-button">Log in</button>
    <button (click)="openAuthenticationDialog(false)" class="tsw-button">Sign up</button>
    <span class="font-small">in only 1 minute and save your progress!</span>
  </div>
</div>

<!--<a href="{{ typingData.donationLink }}">Donate to the wikimedia foundation here!</a>-->
