@import '~src/variables.less';

:host {
  h2 {
    margin-bottom: 50px;
  }

  .wiki-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    white-space: pre-wrap;
    border-radius: 10px;
    background-color: @tsw-heather-dark;
    box-shadow: 1px 1px 2px rgba(@tsw-black, 0.5);
    padding: 20px 15px 20px 15px;
    width: 75vw;
    max-width: 1000px;
    margin: 20px auto 0 auto;
  }

  .input-container {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 40px;
  }

  .wiki-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: @tsw-white;
    line-height: 35px;
    text-shadow: 1px 1px 2px rgba(@tsw-black, 0.5);
  }

  .placeholder {
    font-size: 1.6rem;
    color: rgba(@tsw-white, 0.3);
    line-height: 35px;
  }
}
