<h2 class="flex justify-center">Type any Wikipedia summary.</h2>
<div class="flex justify-center items-center gap-35">
  <app-switch (switched)="randomActivated = !randomActivated"
              [blurAfter]="true"
              class="flex justify-center">
    <span>Random</span>
  </app-switch>
  <div class="flex items-center gap-10">
    <button (click)="updateWikiExtract('drift')"
            [disabled]="!wikiInput.length"
            class="tsw-button">Drift
    </button>
    <div *ngIf="!session().inProgress"
         [@enterAnimation]="true"
         [@leaveAnimation]="true"
         class="flex items-center gap-10">
      <span>or press</span>
      <svg fill="none" height="40" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 12h12m0 0-5-5m5 5-5 5" stroke="#000" stroke-linecap="round" stroke-linejoin="round"
              stroke-width="2"/>
      </svg>
    </div>
  </div>
</div>
<div class="wiki-container">
  <div class="search-container">
    <label *ngIf="!randomActivated; else randomExtractTemplate"
           [@enterAnimation]="true"
           class="relative">
      <svg class="wiki-icon" fill="none" height="20" viewBox="0 0 192 192" width="20"
           xmlns="http://www.w3.org/2000/svg">
        <circle cx="116" cy="76" r="54" stroke="#1B1F1C" stroke-width="12"/>
        <path
          d="M86.5 121.5 41 167c-4.418 4.418-11.582 4.418-16 0v0c-4.418-4.418-4.418-11.582 0-16l44.5-44.5M92 62l12 32 12-32 12 32 12-32"
          stroke="#1B1F1C" stroke-linecap="round" stroke-linejoin="round"
          stroke-width="12"/>
      </svg>
      <input #inputRef
             (blur)="inputFocused = false"
             (focus)="inputFocused = true"
             (keydown.enter)="updateWikiExtract('classic')"
             [(ngModel)]="wikiInput"
             class="wiki-input"
             placeholder="Search for wikipedia summary..."
             type=text>
    </label>
    <ng-template #randomExtractTemplate>
      <div [@enterAnimation]="true" class="flex items-center gap-10">
        <button (click)="updateWikiExtract('random')"
                class="tsw-button">Go
        </button>
        <div *ngIf="!session().inProgress"
             [@enterAnimation]="true"
             [@leaveAnimation]="true"
             class="flex items-center gap-10">
          <span>or press</span>
          <svg fill="none" height="40" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 12h12M6 12l5-5m-5 5 5 5" stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2"/>
          </svg>
        </div>
      </div>
    </ng-template>
  </div>

  <app-loading *ngIf="isLoading"></app-loading>

  <span *ngIf="!isLoading && !wikiExtracted()"
        class="placeholder">Get a Wiki summary and start typing!</span>

  <span *ngIf="!isLoading && wikiExtracted()"
        class="wiki-title">{{ textData.label }}</span>

  <app-text-session *ngIf="!isLoading && wikiExtracted()"
                    [@enterAnimation]="true"
                    [textData]="textData"></app-text-session>

  <app-typing-data *ngIf="!isLoading && wikiExtracted()"></app-typing-data>

  <div *ngIf="!isAuthenticated() && session().closed"
       [@enterAnimation]="true"
       class="flex items-center gap-10">
    <button (click)="openAuthenticationDialog(true)" class="tsw-button">Log in</button>
    <button (click)="openAuthenticationDialog(false)" class="tsw-button">Sign up</button>
    <span class="font-small">in 1 minute and save your progress!</span>
  </div>
</div>
