/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgba(#D4DBF6, 0.75);
  //background-color: rgba(darkslategrey, 0.75);
  font-family: 'Inter', 'SF Mono', 'Avenir', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: bold;
}
