@import '~src/variables';

/* You can add global styles to this file, and also import other style files */
body {
  background-color: @tsw-light-beige; // LIGHT
  //background-color: @tsw-dark-beige; // DARK
  font-family: @tsw-font;
  font-size: @tsw-font-size;
  color: @tsw-black;
}

a {
  text-decoration: none;
  color: @tsw-black;
}

.hide {
  display: none;
}

.bold {
  font-weight: bold;
}
