// Border
@tsw-border: 2px solid @tsw-black;

// Font
@tsw-font: Avenir, Futura Light, sans-serif;
@tsw-font-mono: SF Mono, 'Odudo Mono', Monospaced, sans-serif;
@tsw-font-size: 1.3rem;
@tsw-font-size-small: 1.1rem;


// Color
@tsw-green-yellow: #CFE450;
@tsw-green-light: #D4F6DE;
@tsw-green-dark: #505C53;
//@tsw-green-valid: #83DF8C;
@tsw-green-valid: #9ED8AF;

@tsw-beige: #F6DED4;
@tsw-beige-light: #FDF7F4;
@tsw-beige-dark: #CABBB4;

//@tsw-black: #1B1F1C; // LIGHT
@tsw-black: #D4F6DE; // DARK
