@tsw-green: #D4F6DE;
@tsw-dark-green: #505C53;
//@tsw-black: #1B1F1C; // LIGHT
@tsw-black: #D4F6DE; // DARK
@tsw-border: 2px solid @tsw-black;
@tsw-beige: #F6DED4;
@tsw-light-beige: #FDF7F4;
@tsw-dark-beige: #1F1C1B;
@tsw-font: 'SF Mono', Futura, sans-serif;
@tsw-font-mono: 'SF Mono', Monoflow, 'Odudo Mono', 'SF Mono', Monospaced, sans-serif;
