// Font
@font-face {
  font-family: "Avenir Next";
  src: url("assets/fonts/Avenir-Next/AvenirNext-Regular-08.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next";
  src: url("assets/fonts/Avenir-Next/AvenirNext-Bold-01.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("assets/fonts/JetBrains-Mono/JetBrainsMonoNL-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("assets/fonts/JetBrains-Mono/JetBrainsMonoNL-Bold.ttf") format("truetype");
  font-weight: 700;
}

@tsw-font: "Avenir Next", Futura Light, sans-serif;
@tsw-font-mono: JetBrains Mono, SF Mono, "Odudo Mono", Monospaced, sans-serif;
@tsw-font-size: 1.3rem;
@tsw-font-size-small: 1.1rem;

// Color
@tsw-black: #000;
@tsw-white: #fff;

@tsw-primary: #FCF8FE;
@tsw-secondary: #6658C0;

@tsw-green-valid: #83DF8C;

// Shadows
@tsw-shadow-left: 0 0 5px rgba(@tsw-black, 0.5),
0 2px 2px rgba(@tsw-black, 0.5),
-15px 20px 0 10px rgba(@tsw-secondary);

@tsw-small-shadow-left: 0 0 5px rgba(@tsw-black, 0.5),
0 2px 2px rgba(@tsw-black, 0.5),
-5px 7px 0 0 rgba(@tsw-secondary);
