@import '~src/variables';

:host {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    margin-bottom: 30px;
  }

  a {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .menu-space {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 40px;

    a:hover {
      text-decoration: underline;
    }
  }

  .logo {
    //img {
    //  width: 150px;
    //  height: auto;
    //}
  }

  .user-space {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 1.1rem;
    margin-right: 40px;
  }
}
