:host {
  nav {
    display: flex;
    align-items: center;
    gap: 42px;
    margin-bottom: 50px;
    width: 40vw;
    height: 5rem;
    padding-left: 20px;

    a:hover {
      text-decoration: underline;
    }
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;

    img {
      width: 150px;
      height: auto;
    }
  }
}
